[profile.default]
src = "src"
out = "out"
libs = ["lib"]
optimizer = true
optimizer_runs = 200
via_ir = false

[rpc_endpoints]
tempo_testnet = "${TEMPO_TESTNET_RPC_URL}"
tempo_mainnet = "${TEMPO_MAINNET_RPC_URL}"
